*.Rhistory
*.idea
*.DS_Store
CS6140/videos
MATH7241/videos
Discovery Cluster/
MATH7241/Test2/.DS_Store
CS5200*
.idea/*
DS5010/InClass/.idea/*
MATH7243/Labs/MRI_Images/*
MATH7243/Project/*.zip
MATH7243/Project/XN_project/hemorrhage-labels.csv
MATH7243/Project/XN_project/renders/*.zip
